<!--
Kevin Le
Date Created: 07/12/19
Date Last Edited: 07/12/19
-->

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
      <head>
          <!-- Required meta tags -->
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <title>Boba Web Application</title>
          <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
          <!-- link to external style sheet -->
          <link href="../static/css/boba.css" th:href="@{/css/boba.css}" rel="stylesheet" type="text/css" />
          <!-- link to google fonts -->
          <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Nunito&display=swap" rel="stylesheet">
      </head>

      <body>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container">
                    <div>
                        <h2>Edit <span th:text="${boba.storeName}"></span></h2>
                    </div>

                    <nav class="navbar navbar-expand-lg navbar-dark justify-content-center">
                    </nav>

                    <form action="EditBoba" method="POST" id="bodyUnderBar">

                        <div class="form-group row">
                            <label for="storeName" class="col-md-3 col-form-label">Store Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="storeName" name="storeName" th:value="${boba.storeName}"/>
                                <div th:if="${#fields.hasErrors('boba.storeName')}">
                                    <p id="errorText" th:each="error : ${#fields.errors('boba.storeName')}" th:text="${error}"> store name error </p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 col-form-label">
                            </div>
                            <div class="form-check" style="margin-left:2%;">
                                <input class="form-check-input" type="checkbox" id="hasBeen" name="hasBeen" th:checked="${boba.hasBeen}">
                                <label class="form-check-label" for="hasBeen">Has been?</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="logoUrl" class="col-md-3 col-form-label">Logo URL</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="logoUrl" name="logoUrl" th:value="${boba.logoUrl}"/>
                                <div th:if="${#fields.hasErrors('boba.logoUrl')}">
                                    <p id="errorText" th:each="error : ${#fields.errors('boba.logoUrl')}" th:text="${error}"> logo url error </p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="largeMilkTeaPrice" class="col-md-3 col-form-label">Large Milk Tea Price</label>
                            <div class="col-md-9">
                                <input type="number" class="form-control currency" id="largeMilkTeaPrice" name="largeMilkTeaPrice" step="0.01" th:value="${boba.largeMilkTeaPrice}"/>
                                <div th:if="${#fields.hasErrors('boba.largeMilkTeaPrice')}">
                                    <p id="errorText" th:each="error : ${#fields.errors('boba.largeMilkTeaPrice')}" th:text="${error}"> price error </p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <legend for="rating" class="col-md-3 col-form-label pt-0">Rating</legend>
                            <div class="col-md-9">
                                <div class="form-check-inline" th:each="rating : ${ratings}">
                                  <input class="form-check-input" type="radio" name="ratingId" th:id="${rating.ratingId}" th:value="${rating.ratingId}" th:checked="${boba.getRatingId()} == ${rating.ratingId}"/>
                                  <label class="form-check-label" th:for="${rating.ratingId}" th:text="${rating.ratingName}"></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <legend for="toppings" class="col-md-3 col-form-label pt-0">Available Toppings</legend>
                            <div class="col-md-9">
                                <div class="form-check form-check-inline" th:each="topping : ${toppings}">
                                        <input class="form-check-input" type="checkbox" name="toppings" th:checked="${selectedToppingsSet.contains(topping.toppingType)}" th:value="${topping.toppingType}"/>
                                        <label class="form-check-label" th:text="${topping.toppingType}"></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <legend for="specialty" class="col-md-3 col-form-label pt-0">Specialty</legend>
                            <div class="col-md-9">
                                <div class="form-check form-check-inline" th:each="specialty : ${specialties}">
                                  <input class="form-check-input" type="checkbox" name="specialty" th:checked="${selectedSpecialtySet.contains(specialty.specialtyType)}" th:value="${specialty.specialtyType}"/>
                                  <label class="form-check-label" th:text="${specialty.specialtyType}"></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="notes">Notes</label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="notes" rows="3" name="notes" th:value="${boba.notes}" th:text="${boba.notes}"></textarea>
                            </div>
                        </div>

                        <div class="form-group" id="addBobaBtn">

                            <button type="submit" class="btn btn-info">Save</button>
                            <a href="#" th:href="@{displayBoba(storeName=${boba.storeName})}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>

                </div>

                <nav class="navbar navbar-expand-lg navbar-dark justify-content-center">
                </nav>

                <div id="indexPage">
                    <div id="footer" style="margin-top:2.5%;">
                        <p id="footerP">FULL STACK WEB APP</p>
                        <p id="footerP">Boba Tracking App</p>
                        <p id="footerP">Created By Kevin Le</p>
                    </div>
                </div>

              </div>
            </div>



        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      </body>
</html>
